/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Space+Mono|VT323');
/*
font-family: 'Space Mono', monospace;
font-family: 'VT323', monospace;
*/
/* Catalog CSS */
.catsec {
	border: 1px solid grey;
	background: white;
	border-radius: 20px;
	width: 80%;
	height: auto;
	margin: 15px auto;
	box-shadow: 1px 1px 10px grey;
}
.catItemList {
	
}
/* -- */
#catTopBanner {

}
#catDeals {

}
#catItmes {

}